<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_VERSION" source="info.app.version" defaultValue="unknown"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="shared-signals-transmitter"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel>
                    <fieldName>severity</fieldName>
                </logLevel>

                <nestedField>
                    <fieldName>service</fieldName>
                    <providers>
                        <pattern>
                            <pattern>
                                {
                                "name": "${APP_NAME}",
                                "version": "${APP_VERSION}",
                                "environment": "${spring.profiles.active:-default}"
                                }
                            </pattern>
                        </pattern>
                    </providers>
                </nestedField>

                <nestedField>
                    <fieldName>trace</fieldName>
                    <providers>
                        <mdc>
                            <includeMdcKeyName>traceId</includeMdcKeyName>
                            <includeMdcKeyName>spanId</includeMdcKeyName>
                            <attributeNameMapping>
                                <oldName>traceId</oldName>
                                <newName>trace_id</newName>
                            </attributeNameMapping>
                            <attributeNameMapping>
                                <oldName>spanId</oldName>
                                <newName>span_id</newName>
                            </attributeNameMapping>
                        </mdc>
                    </providers>
                </nestedField>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <stackTrace>
                    <fieldName>error</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>20</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>

                <nestedField>
                    <fieldName>http</fieldName>
                    <providers>
                        <mdc>
                            <includeMdcKeyName>http_method</includeMdcKeyName>
                            <includeMdcKeyName>http_url</includeMdcKeyName>
                            <includeMdcKeyName>http_status_code</includeMdcKeyName>
                            <includeMdcKeyName>client_ip</includeMdcKeyName>
                            <includeMdcKeyName>client_id</includeMdcKeyName>
                            <attributeNameMapping><oldName>http_method</oldName><newName>method</newName></attributeNameMapping>
                            <attributeNameMapping><oldName>http_url</oldName><newName>url</newName></attributeNameMapping>
                            <attributeNameMapping><oldName>http_status_code</oldName><newName>status_code</newName></attributeNameMapping>
                        </mdc>
                    </providers>
                </nestedField>

                <mdc>
                    <includeMdcKeyName>stream_id</includeMdcKeyName>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>